<div class="search-div">
    <mat-form-field class="search-box" appearance="fill">
        <mat-icon matPrefix class="search-icon">search</mat-icon>
        <mat-label>Search Products</mat-label>
        <input matInput #search>
    </mat-form-field>
    <button class="search-btn" mat-flat-button color="accent">Search</button>
</div>
<br>
<div class="container">
    <mat-card class="product-card" *ngFor="let item of productList">
        <mat-icon>shopping_bag_outline</mat-icon>
        <h2><span>{{item.name}}</span></h2>
        <div class="product-action-footer">
            <!-- <img src="item.imageUrl" > -->
            <button mat-icon-button color="primary" class="prod-qty">
                <mat-icon (click)="incrementProd(item)">add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="primary" class="prod-qty">
                <mat-icon (click)="decrementProd(item)">remove_circle_outline</mat-icon>
            </button>
            <button mat-mini-fab color="primary">
                <mat-icon (click)="addProduct(item)" [matBadge]="item.tempQuan" matBadgeColor="accent">add_shopping_cart</mat-icon>
            </button>
        </div>
    </mat-card>
</div>

<button *ngIf="showSearchButton" mat-fab color="accent" class="fixed-btn" (click)="gotoSearch()">
    <mat-icon>search</mat-icon>
</button>