.cart-container {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 250px);
    width: 100%;
}
.add-product {
    width: 50%;
    margin-left: 250px;
    margin-top: 24px;
}
.User-full-width {
    width: 100%;
}
.address {
    height: 64px;
}
.order-table{
    width: 100%;
}
.fab-invoice {
    width: 600px;
    margin-left: 30%;
}