<label class="card-label">
    Discount
</label>
<div class="discount-div">
    <mat-form-field class="User-full-width">
        <mat-label>Vat</mat-label>
        <input matInput [(ngModel)]="vat">
    </mat-form-field>
    <mat-form-field class="User-full-width">
        <mat-label>Discount</mat-label>
        <input matInput [(ngModel)]="discount">
    </mat-form-field>
    <mat-form-field class="User-full-width">
        <mat-label>Delivery</mat-label>
        <input matInput [(ngModel)]="selectedDeliveryCharge">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial (click)="updateDetails()"  color="accent">Update</button>
    <button mat-button cdkFocusInitial (click)="close()">Close</button>
</div>