<div class="order-main">
    <div class="order-header">
        <mat-icon class="my-order">text_snippet</mat-icon>

        <!-- <mat-button-toggle-group class="my-order-filter" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="paid">Paid</mat-button-toggle>
            <mat-button-toggle value="not_paid">Not Paid</mat-button-toggle>
            <mat-button-toggle value="in_progress">In Progress</mat-button-toggle>
            <mat-button-toggle value="cancelled">Cancelled</mat-button-toggle>
        </mat-button-toggle-group> -->
    </div>
    <div class="order-list">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel (opened)="openPanel(order.order_id)" *ngFor="let order of orders">
                <mat-expansion-panel-header>
                    <mat-panel-title class="order">
                        <span class="label-title">Order:</span> {{order.order_id}}
                    </mat-panel-title>
                    <mat-panel-title class="agent">
                        <span class="label-title">Agent: </span> {{order.ordered_by}}
                    </mat-panel-title>
                    <mat-chip-list class="payment-chip-list" aria-label="Fish selection">
                        <mat-chip class="payment-chip paid" *ngIf="order.payment_status === 'PAID'"
                            style="background-color: rgb(7, 126, 100);" selected>Paid
                        </mat-chip>
                        <mat-chip class="payment-chip not-paid" *ngIf="order.payment_status === 'PENDING'"
                            style="background-color: rgb(219, 64, 59);" selected>Not Paid
                        </mat-chip>
                    </mat-chip-list>
                    <mat-chip-list class="shipment-chip-list" aria-label="Fish selection">
                        <mat-chip class="shipment-chip" *ngIf="order.order_status === 'PENDING'"
                            style="background-color: rgb(175, 97, 66);" selected>Ordered
                        </mat-chip>
                        <mat-chip class="shipment-chip" *ngIf="order.order_status === 2"
                            style="background-color: rgb(146, 144, 9);" selected>Shipped
                        </mat-chip>
                        <mat-chip class="shipment-chip" *ngIf="order.order_status === 3"
                            style="background-color:  rgb(7, 126, 100);" selected>Delivered
                        </mat-chip>
                        <mat-chip class="shipment-chip" *ngIf="order.order_status === 0"
                            style="background-color: rgb(77, 8, 5);" selected>Cancelled
                        </mat-chip>

                    </mat-chip-list>
                </mat-expansion-panel-header>
                <mat-divider style="margin-bottom: 12px;"></mat-divider>
                <div class="order-options">
                    <mat-panel-title class="order">
                        <span class="label-title">Customer:</span> {{order.ordered_by}}
                    </mat-panel-title>
                    <!-- <mat-slide-toggle class="payment-toggle"[ngModel]="order.paid" *ngIf="displayPayment">Payment</mat-slide-toggle> -->
                    <mat-form-field *ngIf="displayPayment" appearance="fill">
                        <mat-label>Payment Status</mat-label>
                        <mat-select [(value)]="order.payment_status">
                            <mat-option  [value]="'PAID'">Paid</mat-option>
                            <mat-option [value]="'PENDING'">Not Paid</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="displayOrderStatus" appearance="fill">
                        <mat-label>Order Status</mat-label>
                        <mat-select [(value)]="order.order_status">
                            <mat-option  [value]="'PENDING'">Ordered</mat-option>
                            <mat-option [value]="2">Shipped</mat-option>
                            <mat-option [value]="3">Delivered</mat-option>
                            <mat-option [value]="0">Cancelled</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="User-full-width">
                        <mat-label>Remarks</mat-label>
                        <input [(ngModel)]="remarks" matInput>
                    </mat-form-field>
                    <div>
                        <button class="order-save" mat-mini-fab>
                            <mat-icon matRipple matTooltip="Add Remarks" (click)="addRemarks()">note_add</mat-icon>
                        </button>
                        <button class="order-save" mat-mini-fab>
                            <mat-icon matRipple matTooltip="Save changes">save</mat-icon>
                        </button>
                        <button *ngIf="displayDeleteOrder" (click)="deleteOrder(order.order_id)" class="order-save" mat-mini-fab>
                            <mat-icon matRipple matTooltip="Delete Order">clear</mat-icon>
                        </button>

                    </div>
                </div>
                <table mat-table class="order-table" [dataSource]="order.products">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let product"> {{product.prod_name}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <!-- Category Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Category </th>
                        <td mat-cell *matCellDef="let product"> {{product.prod_category}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <!-- Cost Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell class="qty-td" *matHeaderCellDef> Quantity </th>
                        <td mat-cell class="qty-td" *matCellDef="let product"> <input min="1" matInput type=number
                                [(ngModel)]="product.prod_quantity"></td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Cost per piece</th>
                        <td mat-cell *matCellDef="let product"> {{product.prod_price | currency:'AED'}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
                    <!-- Total Cost Column -->
                    <ng-container matColumnDef="tCost">
                        <th mat-header-cell *matHeaderCellDef> Total Cost</th>
                        <td mat-cell class="tcost-td" *matCellDef="let product">
                            {{product.prod_price * product.prod_quantity | currency:'AED'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'AED'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="tcost-tr" *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>