.main-div {
    top: 20vh;
    position: relative;
    width: 40%;
    margin: 0 auto;
    .login-card {
        width: 350px;
        .login-form {
            width: 335px;
            .input-full-width {
                width: 100%;
            }
            .login-btn{
                 width: 100%;
            }
        }
        .user-img {
            margin-left: 30%;;
            margin-bottom: 18px;
        }
    }
}
