<div class="main-div">
    <mat-card class="login-card">
        <img class="user-img" src="../../../../assets/user.png" alt="user" width="150" height="160">
        <div class="login-form">
            <mat-form-field class="input-full-width">
                <mat-label>Username</mat-label>
                <mat-icon matSuffix>account_circle</mat-icon>
                <input [(ngModel)]="userName" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="input-full-width">
                <mat-label>Password</mat-label>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <input [(ngModel)]="password" type="password" matInput>
            </mat-form-field>
            <button (click) = "onLogin()" class="login-btn" mat-raised-button color="accent">login</button>
        </div>

    </mat-card>
</div>