<mat-card class="change-password">
    <mat-label class="card-label">Change Password</mat-label>
    <br>
    <br>
    <mat-form-field class="User-full-width">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput [(ngModel)]="oldPassword">
    </mat-form-field>
    <br>
    <mat-form-field class="User-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [(ngModel)]="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field class="User-full-width">
        <mat-label>Re Enter New Password</mat-label>
        <input type="password" matInput [(ngModel)]="newPasswordRepeat">
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="accent" (click)="saveChanges()">Change Password</button>
    <button style="margin-left: 12px;" (click)="cancel()" mat-raised-button color="secondary">Cancel</button>
</mat-card>