<div class="admin-main-div">
    <button mat-raised-button color="secondary" [routerLink]="'/users'">Users</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/addproduct'">Add
        Product</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/shippingCharge'">Add
        Shipping Charge</button>
    <!-- <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/changePassword'">
        Change Password</button> -->
    <div class="admin-card">
        <mat-card class="admin-card">
            <h2><span>Total Sales Report</span></h2>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="totalSalesDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="totalSalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="totalSalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('totalSales')">Get
                Report
            </button>
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>User Sales Report</span></h2>
            <mat-form-field  appearance="fill">
                <mat-label>Select User</mat-label>
                <mat-select [(value)]="userReportUser">
                    <mat-option *ngFor="let item of users" [value]="item.username">{{item.username}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="userTotalSalesDateRange" [rangePicker]="picker2">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2></mat-date-range-picker>
                <mat-error *ngIf="userTotalSalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="userTotalSalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('userTotalSales')">Get
                Report
            </button>
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>User Type Sales Report</span></h2>
            <mat-form-field  appearance="fill"> 
                <mat-label>Select User Type</mat-label>
                <mat-select [(value)]="userTypeReportType">
                    <mat-option *ngFor="let item of userTypes" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="userTypeTotalSalesDateRange" [rangePicker]="picker3">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-date-range-picker #picker3></mat-date-range-picker>
                <mat-error *ngIf="userTypeTotalSalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="userTypeTotalSalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('employeeTypeSalesReport')">Get
                Report
            </button>
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>BoxID Sales Report </span></h2>
            <mat-form-field class="order-field" appearance="fill">
                <mat-label>Box ID</mat-label>
                <input  matInput [(ngModel)]="reportBoxID">
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('boxIDTotalSales')">Get
                Report
            </button>
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>Country Based Sales Report </span></h2>
            <mat-form-field class="order-field" appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select [(value)]="selectedCountry">
                    <mat-option *ngFor="let country of allCountries" [value]="country.name">{{country.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="countrySalesDateRange" [rangePicker]="picker4">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-date-range-picker #picker4></mat-date-range-picker>
                <mat-error *ngIf="countrySalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="countrySalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('countrySales')">Get
                Report
            </button>
        </mat-card>
        <!-- <mat-card class="admin-card">
            <h2><span>Order Status Report </span></h2>
            <mat-form-field class="order-field" appearance="fill">
                <mat-label>Country</mat-label>
                <mat-select [(value)]="selectedCountry">
                    <mat-option  [value]="country.name">{{country.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="countrySalesDateRange" [rangePicker]="picker4">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-date-range-picker #picker4></mat-date-range-picker>
                <mat-error *ngIf="countrySalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="countrySalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('countrySales')">Get
                Report
            </button>
        </mat-card> -->
    </div>
</div>