<div class="admin-main-div">
    <button mat-raised-button color="secondary" [routerLink]="'/users'">Users</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/addproduct'">Add
        Product</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/shippingCharge'">Add
        Shipping Charge</button>
    <!-- <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/changePassword'">
        Change Password</button> -->
    <div class="admin-card">
        <mat-card class="admin-card">
            <h2><span>Total Sales Report</span></h2>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="totalSalesDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="totalSalesDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="totalSalesDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <br>
            <button class="report-btn" mat-flat-button color="accent" (click)="getReport('totalSales')">Get
                Report
            </button>
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>Today Sale</span></h2>
            <img class="card-image" src="../../../../assets/today-sales.PNG" alt="">
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>Weekly Sale</span></h2>
            <img class="card-image" src="../../../../assets/weekly-sales.PNG" alt="">
        </mat-card>
        <mat-card class="admin-card">
            <h2><span>Monthly Sale</span></h2>
            <img class="card-image" src="../../../../assets/montly-sales.PNG" alt="">
        </mat-card>
    </div>
</div>