<div class="admin-main-div">
    <button mat-raised-button color="secondary" [routerLink]="'/users'">Users</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/addproduct'">Add
        Product</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/shippingCharge'">Add
        Shipping Charge</button>
    <button mat-raised-button style="margin-left: 12px;" color="secondary" [routerLink]="'/changePassword'">
        Change Password</button>
    <div class="admin-card">

        <div class="admin-card">
            <mat-card class="admin-card">
                <h2><span>Profit Margin</span></h2>
                <img class="card-image" src="../../../../assets/profit-margin.PNG" alt="">
            </mat-card>
            <mat-card class="admin-card">
                <h2><span>Today Sale</span></h2>
                <img class="card-image" src="../../../../assets/today-sales.PNG" alt="">
            </mat-card>
            <mat-card class="admin-card">
                <h2><span>Weekly Sale</span></h2>
                <img class="card-image" src="../../../../assets/weekly-sales.PNG" alt="">
            </mat-card>
            <mat-card class="admin-card">
                <h2><span>Monthly Sale</span></h2>
                <img class="card-image" src="../../../../assets/montly-sales.PNG" alt="">
            </mat-card>
        </div>
    </div>