.add-shipping {
    top: 100px;
    position: relative;
    width: 50%;
    margin-left: 250px;
}

.User-full-width {
    width: 100%;
}

.shipping-container {
    overflow-y: scroll;
    max-height: 250px;
}