<div style="display: flex;">
    <mat-card class="add-shipping">
        <mat-label class="card-label">Update Delivery Charge and VAT</mat-label>
        <br>
        <br>
        <div class="shipping-container">
            <mat-form-field class="User-full-width">
                <mat-label>VAT Charge</mat-label>
                <input matInput [(ngModel)]="vatCharge">
            </mat-form-field>
            <mat-form-field *ngFor="let item of shippingTypeCharge" class="User-full-width">
                <mat-label>{{item.name}} Charge</mat-label>
                <input matInput [(ngModel)]="item.cost">
            </mat-form-field>
        </div>
        <br>
        <br>
        <button mat-raised-button color="accent" (click)="saveCharge()">Update Changes</button>
        <button style="margin-left: 12px;" (click)="cancel()" mat-raised-button color="secondary">Cancel</button>
    </mat-card>

    <mat-card class="add-new">
        <mat-label class="card-label">Add New Delivery Charge</mat-label>
        <br>
        <br>
        <mat-form-field class="User-full-width">
            <mat-label>New Delivery Mode Name</mat-label>
            <input matInput [(ngModel)]="newDeliveryName">
        </mat-form-field>
        <mat-form-field class="User-full-width">
            <mat-label>Charge</mat-label>
            <input matInput [(ngModel)]="newDeliveryCharge">
        </mat-form-field>
        <button mat-raised-button style="margin-left: 12px;" color="accent" (click)="AddNewDelivery()">Add New</button>
        
    </mat-card>
</div>